.log-in {
   text-align: center;
   margin: 3em 0;
   font-size: 25px;
   color: red;
   font-weight: bold;
}

.login {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.box {
    border-radius: 50px;
}

.submit-button {
   height: 30px;
   width: 100px;
}